<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Piano Practice</title>

	<link rel="stylesheet" type="text/css" href="piano-practice.css" />
	<script type="text/javascript" src="libs/axios.min.js"></script>
	<script type="text/javascript" src="libs/vue/vue.js" ></script>
	<script type="text/javascript" src="libs/abcjs/abcjs_basic_6.0.0-beta.9-min.js" ></script>

	<script type="text/javascript" src="libs/midi/Base64.js" ></script>
	<script type="text/javascript" src="libs/midi/Base64binary.js" ></script>
	<script type="text/javascript" src="libs/midi/WebAudioAPI.js" ></script>

	<script type="text/javascript" src="libs/midi/audioDetect.js" ></script>
	<script type="text/javascript" src="libs/midi/loader.js" ></script>
	<script type="text/javascript" src="libs/midi/player.js" ></script>
	<script type="text/javascript" src="libs/midi/gm.js" ></script>
	
	<script type="text/javascript" src="libs/midi/plugin.audiotag.js" ></script>
	<script type="text/javascript" src="libs/midi/plugin.webaudio.js" ></script>

	<script type="text/javascript" src="libs/midi/dom_request_xhr.js" ></script>
	<script type="text/javascript" src="libs/midi/dom_request_script.js" ></script>

	<script type="text/javascript" src="js/note.js" ></script>
</head>
<body>
<div id="app" >

<div id="top-bar" >
	<select v-model="selectedMode" >
		<option v-for="m in modes" v-bind:value="m.id" >
			{{ m.name }}
		</option>
	</select>

	<select v-if="showSongSelection" v-model="selectedSong" >
		<option v-for="s in songs" v-bind:value="s.id" >
			{{ s.name }}
		</option>
	</select>

	<select v-if="selectedMode == 1" v-model="selectedNoteRange" >
		<option v-for="s in singleNoteRanges" v-bind:value="s.id" >
			{{ s.name }}
		</option>
	</select>

	<select v-if="selectedMode == 3" v-model="selectedScale" >
		<option v-for="s in scales" v-bind:value="s.id" >
			{{ s.name }}
		</option>
	</select>


	<button type="button" class="float-right" v-on:click="showNotesOn = !showNotesOn" >
		Toggle Show Notes
	</button>

	<keymap-window class="float-right" v-bind:keymap="this.keymap" />

	
	<button v-if="!loaded" class="float-right"  v-on:click="loadSoundFont()" type="button" >
		Load Soundfont
	</button>

</div>

<div id="content-container" ><div id="content" >
	<div id="music-page" ></div>
	<div id="notes-on" v-bind:class="{ red: showFail, green: showSuccess  }" v-if="showNotesOn && notesOn.length > 0" >{{ notesOn }}</div>
</div></div>

<div id="help-dialog" >
	<div v-if="showHint" id="hint" >
		{{ hint }}
	</div>
	<br />
	<button v-if="!loaded" v-on:click="loadSoundFont()" type="button" >Load Soundfont</button>
</div>

</div>
<script type="text/javascript" src="js/keymap.js" ></script>
<script type="text/javascript" src="js/main_page.js" ></script>
</body>
</html>
