html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #EFEFEF;
}

#app {
	width: 100%;
	height: 100%;
	background-color: #EFEFEF;
	overflow-y: hidden;
}

#top-bar {
	width: 100%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #CCF;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

#top-bar button,select {
	margin-right: 5px;
	margin-left: 5px;
}

#content-container {
	padding-top: 6em;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	height: 100%;
	background-color: #FFF;
}

.float-right {
	float: right;
}

#music-page { 
	text-align: center;
}

.red {
	color: #F00;
}

.green {
	color: #1F2;
}

#controls {
	text-align: center;
}

#notes-on {
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
}

#instructions {
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
}

#help-dialog {
	width: 50%;
	text-align: center;
	padding: 1%;
	position: fixed;
	left: 25%;
	top: 25%;
	background-color: #EEE;
	border: 2px dashed #CCF;
}

#hint {
	font-family: sans-serif;
	text-align: center;
	font-style: italic;
	font-size: 1.5em;
}

.keymap-window {
	position: absolute;
	left: 30%;
	top: 10%;
	width: 30%;
	background-color: #FFF;
	border: 1px solid #DDD;
	z-index: 2;
	overflow-y: auto;
	overflow-x: hidden;
	border: 2px solid #000;
}

.keymap-window .window-content {
	column-count: 2;
}

.keymap-window .title-bar {
	background-color: #FDD;
	padding-bottom: 2px;
	border-bottom: 1px solid #333;
}

.keymap-window .title-bar button {
	background-color: #D00;
	color: #FFF;
	font-family: sans-serif;
	font-weight: bold;
	margin-right: 5px;
}

.keymap-setting {
	font-family: sans-serif;
	padding: 5px;
	background-color: #DDD;
	text-align: center;
}
