<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Piano Practice</title>

	<link rel="stylesheet" type="text/css" href="piano-practice.css" />
	<script type="text/javascript" src="libs/vue.js" ></script>
	<script type="text/javascript" src="libs/abcjs_basic_6.0.0-beta.9-min.js" ></script>

	<script type="text/javascript" src="libs/midi/Base64.js" ></script>
	<script type="text/javascript" src="libs/midi/Base64binary.js" ></script>
	<script type="text/javascript" src="libs/midi/WebAudioAPI.js" ></script>

	<script type="text/javascript" src="libs/midi/audioDetect.js" ></script>
	<script type="text/javascript" src="libs/midi/loader.js" ></script>
	<script type="text/javascript" src="libs/midi/player.js" ></script>
	<script type="text/javascript" src="libs/midi/gm.js" ></script>
	<script type="text/javascript" src="libs/midi/plugin.audiotag.js" ></script>
	<script type="text/javascript" src="libs/midi/plugin.webaudio.js" ></script>

	<script type="text/javascript" src="libs/midi/dom_request_xhr.js" ></script>
	<script type="text/javascript" src="libs/midi/dom_request_script.js" ></script>

	<script type="text/javascript" src="js/note.js" ></script>

</head>
<body>

<div id="content" >
	<span id="instructions" >{{ instructions }}</span>
	<div id="music-page" ></div>
	<span id="hint-area" v-bind:class="{ red: showFail, green: showSuccess  }" v-if="showHint" >{{ hint }}</span>
	<div id="controls" >
		<select v-model="noteRange" >
			<option value="D3-C5">All Notes</option>
			<option value="B3-C4">Thumbs (B3 and C4)</option>
			<option value="B3-D4">B3 to D4</option>
			<option value="A3-D4">A3 to D4</option>
			<option value="G3-E4">G3 to E4</option>
			<option value="F3-F4">F3 to F4</option>
			<option value="E3-G4">E3 to G4</option>
			<option value="D3-A4">D3 to A4</option>
		</select>
	</div>
</div>


<script type="text/javascript" src="js/keymap.js" ></script>
<script type="text/javascript" src="js/note_practice.js" ></script>
</body>
</html>
